@page "/"

@using Avalonia.Controls;

@inject INavigation Navigation

<Window Title="测试" Width="400" Height="800">

    <Border Background="@("#E6E6E6")">
        <Panel>
        <Border Theme="@("CardBorder")">
                <StackPanel  HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center">
                    <Button Classes="Primary" Theme="@("SolidButton")" OnClick="OnButtonClick">Go to sub page</Button>
                </StackPanel>
            </Border>
        </Panel>

    </Border>
</Window>

@code {

    async Task OnButtonClick()
    {
        await Navigation.NavigateToAsync("/sub1", null);
    }
}