@page "/sub1"
@inject INavigation Navigation

@using Avalonia.Controls;
@using Avalonia.Media;
@using Avalonia.Styling

<Border Background="@("#E6E6E6")">
    <Panel>
        <Border Theme="@("CardBorder")">
            <DockPanel>
                <TextBlock FontWeight="FontWeight.Black" FontSize="24" DockPanel.Dock="@Dock.Top">Sub Page 1</TextBlock>
                <StackPanel Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center">
                    <Button Classes="Danger" OnClick="Back">Back</Button>
                    <Button Classes="Success" Theme="@("SolidButton")" OnClick="Next">Next</Button>
                </StackPanel>
            </DockPanel>
        </Border>
    </Panel>

</Border>

@code {
    public async Task Next()
    {
        await Navigation.NavigateToAsync("/sub2", null);
    }
    public async Task Back()
    {
        await Navigation.PopAsync();
    }
}