@page "/"

@inject INavigation navigation
<Window Title="测试" Width="600" Height="500">
    <ScrollViewer Background="Avalonia.Media.Colors.White">
        <StackPanel HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center">
            <Button class="bold" Grid.Row="1" OnClick="OnButtonClick">Go to sub page</Button>
        </StackPanel>
    </ScrollViewer>
</Window>

@code {
    async Task OnButtonClick()
    {
        await navigation.NavigateToAsync("/sub", null);
    }
}